@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: fixed;
  top: 0;
  left: -100%;
  width: calc(100% * 7 / 3); /* 화면 크기의 7/3 */
  height: 100%;
  background: white;
  transition: left 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal.show {
  left: 0;
}